.some-class {
    width:200px;
    padding:20px;
  }
/*
form div {
    display: block; min-height: 40px; 
    }
form div:nth-child(odd) {
    background: #807575;
    }
form div label {
    min-width: 100px; display: inline-block; vertical-align: middle;
    }
*/